@use '../../partials/globals';
@use '../../partials/vairables' as *;
@use '../../partials/mixins' as *;

.points{
	pointer-events: all;
	position: fixed;
	padding: 1rem;
	z-index: 20000;
	top:0;
	height: 100%;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.3);
	transition: all 500ms ease-in-out;
	&--close{
		visibility: hidden;
		pointer-events: none;
	}
	&__container{
		transition: all 500ms ease-in-out;
		pointer-events: all;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-radius: 10px;
		box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
		background-color: $dark-navy;
		padding: 1rem;
		height:15rem;
		margin-top: 10rem;
		&--close{
			opacity: 0;
		}
		@include tablet{
			margin-top: 8rem;
			height: 40%;
			max-width: 768px;
			max-height: 18rem;
			margin: 0 auto;

		}
		@include desktop{
			width: 60%;
			margin: 0 auto;
			margin-top: 8rem;
		}

	}
	&__text-container{
		pointer-events: all;
		width: 100%;
		padding: 0 1rem;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
		@include tablet{
			margin-top: 5rem;
		}
		@include desktop{
			top: 50rem;
		}
	}
	&__userChat{
		&>p{pointer-events: none;}
		padding: 0.5rem;
		display:flex;
		height: 5rem;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;
		background-color: $light-mint;
		@include tablet{
			padding: 0 2rem;
			justify-content: flex-start;
			height: 6rem;
			width: 80%;
			max-width: 768px;
		}
	}
	&__pfp{
		height: 3rem;
		width: 3rem;
		background-color: $white;
		border-radius: 50%;
		margin-right: 1rem;
		@include tablet{
			height: 5rem;
			width: 5rem;
		}
	}
	&__chat-text{
		color: $white;
		margin: 0;
		font-size: 1.25rem;
		@include tablet{
			font-size: 2.5rem;
		}
	}
	&__icon-container{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		margin-top: 5rem;
		@include tablet{
			margin-top: 1rem;
			width: 50%;
			max-width: 25rem;
		}
	}
	&__delete-btn{
		text-align: left;
		pointer-events: none;
		height: 2.25rem;
		width: 2.25rem;
		color: $mint;
		&--container{
			pointer-events: all;
			cursor: pointer;
		}
	}
	&__close-btn{
		pointer-events: none;
		height: 2rem;
		width: 2rem;
		color: $light-mint;
		&--container{
			padding: 1rem;
			width: 100%;
			pointer-events: all;
			cursor: pointer;
		}
	}
}

