@use '../../partials/vairables' as *;
@use '../../partials/mixins' as *;
@use '../../partials/globals';

.sidebar{
	pointer-events: all;
	position:fixed;
	z-index: 4;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0, 0, 0, 0.3);
	display:flex;
	justify-content: flex-end;
	&--closed{ 
		visibility: hidden;
		background-color: transparent;
		pointer-events: none;
	}
	@include desktop{
		pointer-events: none;
		background-color: initial;
		height:auto;
		width: 100%;
		max-width: 1480px;
		top: 7rem;
	}

	&__nav{
		pointer-events: all;
		display: flex;
		width: 50%;
		top: 7rem;
		height:100vh;
		flex-direction: column;
		background-color: $dark-navy;
		transition: all 500ms ease-in-out;
		@include desktop{
			width: 20rem;
			height:auto;
		}
		&--closed{
			transform: translateX(100%);
			@include desktop{
				transform: translateY(-10rem);
				opacity: 0;
				
			}
		}
	}

	&__close-container{
		display: flex;
		justify-content: space-between;
		background-color: $mint;
		height: 4rem;
		padding: 1rem;
	}
	&__greeting{
		margin: 0;
		color: $white;
	}
	&__close-icon{
		margin: 0;
		transform: scaleX(1);
		width: 2rem;
		height: 2rem;
		cursor: pointer;
		&>path{
			fill: $white;
		}
		@include desktop{
			display:none;
		}

	}
	&__link-container{
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__link{
		content: "TEST";
		padding: 0.75rem 0;
		text-align: center;
		width: 100%;
		color: $white;
		height: 3rem;
		border-bottom: 1px solid $white;
		&:nth-child(5){
			@include desktop{
				display:none;
			}
		}
		&:nth-child(6){
			@include desktop{
				display:none;
			}
		}
		&:last-child{
			flex-grow:1;
			height: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			padding: 1rem 1rem;
			@include desktop{
				height: 3rem;
			}
		}
	}
	&__logout{
		color: $light-mint;
		height: 2rem;
		width: 2rem;
		@include tablet{
			height: 3rem;
			width: 3rem;
		}
		@include desktop{
			display:none;
		}
	}
	&__logout-text{
		width: 100%;
		margin: 0;
		display:none;
		text-align: center;
		@include desktop{
			display: flex;
			justify-content: center;
		}

	}
}
