@use '../../partials/vairables' as *;
@use '../../partials/mixins' as *;
@use '../../partials/globals';

.maps{
	position: relative;
	top:28rem;
	display: flex;
	justify-content: center;
	height: 30rem;
	margin: auto;
	@include tablet{
		top: 38rem;
		height: 45rem

	}
	@include desktop{
		top: 40rem;
		height: 40rem;
	}
	@include desktop-break{
		max-width: 1440px;
	}
}

